.ItemDetails {
  display: flex; }
  .ItemDetails-upper {
    display: flex;
    background: red;
    justify-content: space-between; }
    .ItemDetails-upper-left {
      display: flex;
      flex-direction: column; }
      .ItemDetails-upper-left-details {
        display: flex; }
