.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%; }
  .List-header {
    text-align: left;
    font-size: 20px;
    padding: 10px 0; }

.Item {
  display: flex;
  border: 1px solid black;
  width: 600px; }
  @media only screen and (min-width: 800px) {
    .Item {
      width: 800px; } }
  .Item-image img {
    width: 100px;
    height: 100px; }
  .Item-right {
    display: flex;
    flex-direction: column;
    max-width: 720px; }
    .Item-right-title {
      padding: 10px 0;
      width: 450px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 10px; }
      @media only screen and (min-width: 800px) {
        .Item-right-title {
          width: 690px; } }
      @media only screen and (min-width: 800px) {
        .Item-right-title {
          max-width: 890px; } }
    .Item-right-details {
      display: flex;
      flex-direction: column; }
      @media only screen and (min-width: 800px) {
        .Item-right-details {
          flex-direction: row;
          padding-left: 10px; } }
      .Item-right-details-date {
        padding-left: 10px; }
        @media only screen and (min-width: 800px) {
          .Item-right-details-date {
            padding: none; } }
      .Item-right-details-author {
        display: none; }
        @media only screen and (min-width: 800px) {
          .Item-right-details-author {
            display: flex; } }
      .Item-right-details-authorAndLink {
        display: flex;
        padding-left: 10px; }
        @media only screen and (min-width: 800px) {
          .Item-right-details-authorAndLink {
            padding: 0; } }
      .Item-right-details-smallerView-author {
        display: flex; }
        @media only screen and (min-width: 800px) {
          .Item-right-details-smallerView-author {
            display: none; } }
      .Item-right-details-itemLink {
        padding-left: 10px; }

.SearchBar {
  padding: 15px 0; }
  .SearchBar input {
    border: 1px solid black; }

.ItemDetails {
  display: flex;
  flex-direction: column;
  margin: 20px; }
  .ItemDetails-intro {
    margin: 20px; }
  .ItemDetails-upper {
    display: flex;
    justify-content: space-between; }
    .ItemDetails-upper-left {
      display: flex;
      flex-direction: column; }
      .ItemDetails-upper-left-title {
        padding-bottom: 10px; }
      .ItemDetails-upper-left-details {
        display: flex; }
  .ItemDetails-lower {
    display: flex;
    padding-top: 10px; }
    .ItemDetails-lower-right {
      padding-left: 15px; }
